__pycache__/
*.pyc
users.json
mc-server/
data/
bds_data/
.env
importBuild/*/venv/
importBuild/structura_env/Structura
importBuild/*/mondoHouse/
importBuild/*/*.mcstructure
importBuild/*/*.schematic
importBuild/*/*.zip
*test*

